{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "no-extra-semi": 1,
    "no-unused-vars": 1,
    "semi": 0
  }
}
